.header {
	margin-top: 60px;
}

.headerTitles {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Lora", serif;
	color: grey;
}

.headerTitleSm {
	position: absolute;
	top: 8%;
	font-size: 20px;
}

.headerTitleLg {
	position: absolute;
	top: 10%;
	font-size: 100px;
}

.headerImg {
	width: 100%;
	height: 500px;
	margin-top: 65px;
	object-fit: cover;
}